<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta http-equiv='X-UA-Compatible' content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="shortcut icon" href="favicon.png">
	<title> Главная </title>
	<link rel="stylesheet" href="./css/styles.css">

	<!-- HTML5 shim and Respond.js-->
	<!-- [if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	<! [endif]-->	

</head>
<!-- <body class="ov-h">

	<div class="preloader">
		<div class="wrap">
			<div class="cup">
				<img src="img/svg/noun_Coffee_848419.svg" alt="">
			</div>
			<div class="teapot">
				<img src="img/svg/noun_Teapot_134361.svg" alt="">
			</div>
		</div>
	</div> -->
<body>

<div class="block wow shake"><h1>Hello, Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h1></div>

<img src="img/eldar.jpg" class="wow bounceOut" data-wow-duration="5s" data-wow-iteration="3" alt="Boxer">

<ul>
	<li>
		<ul>
			<li>Hello</li>
			<li>hello</li>
			<li class="wow zoomIn">
				<ul>
					<li class="for-rem">HEY</li>
				</ul>
			</li>
		</ul>
	</li>
	<li>world</li>
	<li>world</li>
	<li>world</li>
</ul>

<h2 class="big wow headShake">Big text. Very BIG!!!</h2>

<picture>
	<source srcset="img/1page-3page-form.webp" type="image/webp" media="(max-width:390px)">
	<source srcset="img/svg/telegram.svg" media="(max-width:500px)">
	<source srcset="img/eldar.jpg" type="image/jpeg" media="(max-width:600px)">
	<source srcset="img/2page-form.webp" type="image/webp">
	<img src="img/dima.jpg" alt="Picture">
</picture>

<script src="./js/wow.min.js"></script>
<script src="./js/js.js"></script>
</body>
</html>