<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta http-equiv='X-UA-Compatible' content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="shortcut icon" href="favicon.png">
	<title> Главная </title>
	<link rel="stylesheet" href="./css/styles.css">

	<!-- HTML5 shim and Respond.js-->
	<!-- [if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	<! [endif]-->	

</head>
<body>

<ul class="dropdown">
	<li class="dropdown__li">
		<button>Первый</button>
		<div class="info">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque perspiciatis placeat voluptatem molestias nisi ea, vel! Magni provident ab consequuntur, cum alias laudantium dicta veniam enim at deserunt pariatur, doloribus.
		</div>
	</li>
	<li class="dropdown__li">
		<button>Второй</button>
		<div class="info">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione omnis, sed porro, explicabo soluta asperiores distinctio molestias deserunt eum aut perferendis adipisci magnam! Optio dicta ipsam, beatae, nisi maiores asperiores?
		</div>
	</li>
	<li class="dropdown__li">
		<button>Третий</button>
		<div class="info">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus nam reiciendis suscipit exercitationem voluptate dolorum, accusamus similique cumque quas, eligendi nulla, aliquam mollitia dolorem quis distinctio quibusdam ea tenetur modi.
		</div>
	</li>
	<li class="dropdown__li">
		<button>Четвертый</button>
		<div class="info">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci doloribus cum, at minima, accusantium dolores quidem magnam perferendis earum sit, rem aspernatur vel. Commodi optio repellat error, libero facere odio.
		</div>
	</li>
</ul>


<script src="../js/jquery.min.js"></script>
<script src="./js/js.js"></script>
</body>
</html>