@import 'libs/smart-grid.less';
@import 'libs/vars.less';
@import 'libs/mixins.less';



body{
  margin: 0;
  padding: 0;
}

.container{
  background-color: #ddd;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 80px 70px 1fr minmax(50px, auto);
  /* grid-template-areas: 
    "menu header"
    "menu nav"
    "menu content"
    "footer footer"; */
  grid-gap: 10px;
}

.block{
  background-color: crimson;
  color: white;
}

.block1{
  background-color: black;
  /* grid-area: header; */
  /*grid-column-start: 2;
  grid-column-end: 3;*/
  grid-column: ~'2/3';
}

.block2{
  background-color: blue;
  /* grid-area: menu; */
  /* grid-row-start: 1;
  grid-row-end: 6; */
  grid-row: ~'1/5';
}

.block3{
  background-color: yellow;
  color: #000;
  /* grid-area: nav; */
  grid-row: ~'2/3';
}

.block4{
  background-color: #777;
  grid-row-start: 3;
  grid-row-end: 4;
  /* grid-area: content; */
}

.block5{
  background-color: cyan;
  color: #000;
  /* grid-area: footer; */
  /* grid-column-start: 2;
  grid-column-end: 3; */
  grid-area: ~'4/2/5/3';
}






/* canvas{
	width: 500px;
	height: 500px;
} */

/* .menu li{
	float: left;
	margin-left: 30px;
	margin-bottom: 20px;
}

.menu{
	display: flex;
	justify-content: space-between;
	align-items: center;
}


img.filter:hover{
	transform: scale(1.2);
	outline: 1px solid #ff0000;
	transition: 0.5s;
}

@supports (filter: blur(5px)){
	img.filter{
		filter: blur(5px);
		transition: 0.5s;
		&:hover{
			filter: blur(0);
			transform: scale(1);
			outline: none;
		}
	}
} */














/* svg{
	width: 100px;
	height: 100px;
	fill: #43dd45;
}

.svg-path{
	fill: red;
} */