@import 'libs/smart-grid.less';
@import 'libs/vars.less';
@import 'libs/mixins.less';
/* 
@import 'libs/bootstrap.min.css';
 */


*,
*:before,
*:after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.my-card{
	margin-bottom: 20px;
	background-color: #eee;
}

.content{
	height: 100px;
	border-radius: 10px;
	background-color: crimson;
}

.alert-primary{
	background-color: red;
}

.my-smart-grid{
	margin-top: 30px;
}

.my-wrapper{
	.wrapper();
}

.my-row{
	.row-flex();
	.xs-block({
		justify-content: center;
	});
	.lg-block({
		justify-content: flex-end;
	});

	.content{
		margin-bottom: 20px;
		.col();
		.size(2);
		.size-md(4);
		.size-sm(6);
		.size-xs(10);
		/*.size-dima(7);*/
	}
}